body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#FFF; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body{
    background-image: url("/static/images/bg.gif");
    margin: 0 auto; width:1040px;
}
.top{
    /*width: 770px;*/
    margin: 0 auto; width:1040px;
    height:219px;
    background:url("/static/images/index_1.png") no-repeat;
}
.nav{
    /*width:770px;*/
    margin: 0 auto; width:1040px;
    height:81px;
    background:url("/static/images/index_3.png") no-repeat;
}
.nav ul {
    list-style:none;
    padding-left:160px;
    margin: 0px ;
    margin-left:5px;
}
.nav ul li {
    padding-left:0px;
    margin:0px;
    text-align: center;
    float: left;
    height: 81px;
    width:95px;
    line-height:70px;
}
.nav ul li a {
    text-align:center;
    text-decoration:none;
    color:orange;
    display: block;
    font-size: 12px;
}
.nav ul li a:hover{
    /*width:95px;*/
    height:81px;
    width:95px;
    background:url("/static/images/im.png") no-repeat;
}
.content{
    /*width:770px;*/
    margin: 0 auto; width:1040px;
}
.footer{
    width:770px;
}
.zuo{
    width:310px;
    height:500px;
    margin:20px 33px 30px;
    float:left;
    background:#980101;
}
.zuo span,.zuo p{
    font-size:14px;
    color: orange;
    line-height:20px;
    text-align: center;
}
.you{
    width:350px;
    height:500px;
    margin:20px 10px 20px 18px ;
    float:left;
}
.you a{
    text-decoration:none;
}
.youlb li{
    font-size:14px;
    line-height:20px;
    color:orange;
}
.wenlb{
    color:#FFF;
}
.wenlb li{
    font-size:14px;
    line-height: 20px;
    color:#FFF;
    list-style:none;
}
.youlb li a{
    color:orange;
}
.clear{
    clear:both;
}
.youbian{
    margin-top:5px;
    width:250px;
    height:600px;
    background-color:blue;
    border: aqua;
    float:right;
}
.liebiao{
    height:250px;
}
.youxia{
    height:250px;
    width:1040px;
    float:left;
}
.youxia a{
    text-decoration:none;
}
.zhong{
    height:143px;
    background:url("/static/images/gw.gif.jpg") no-repeat;
}
.zhong a{
    color:#FFF;
    display: table;
    height:70px;
    width:290px;
    border-collapse: separate;
    float:right;
    margin:40px 290px 20px 20px
}
.dizuo{
    float:left;
    margin:20px 20px 2px 30px;
}
.dizuo p{
    color:orange;
    display: table;
    width:330px;
}
.diyou{
    float:left;
    margin:20px 2px 2px 20px;
}
.diyou p{
    color:orange;
    display: table;
    width:330px;
}
.left{
    float:left;
    width:770px;
    background: url("/static/images/tbg.png")
}
.right{
    border-right: 1px solid #c1650e;
    float:left;
    margin:10px 10px 10px 30px;
    width:220px;
    height:800px;
}
.dongtu{
    margin:15px 0px 5px 5px ;
}
.liebiao2 {
    width:210px;
    height:250px;
    border: orange;
}
.lb{
    width:220px;
    line-height:20px;
    color:#FFF;
    margin: 20px 0px 0px 0px;
    list-style: none;
}
.lb a{
    text-decoration:none;
    color:#FFF;
}
.wzlb{
    width:755px;
}
.k1{
    margin:40px 30px 10px 30px;
}
.wzlb table{
    margin:10px 10px 0px 10px;
}
.lbzw{
    color:orange;
    margin:10px 0px 0px 10px;
}
.footer {
    color: yellow;
    text-align: center;
}
.xiazaiyou {
       position: fixed;
       top: 100px;
       left: 1645px;
}
